<div class="home-page" ng-controller="HomeCtrl">
	<div class="landing">
		<div class="logo">
            <img src="../img/innoD_logo.png">
		</div>
        <div class="catch-phrase-container">
            <div class="catch-phrase">Where tiers collide</div>
        </div>
        <div class="landing-title-container">
            <div class="landing-title">
                <span class="web-title">web</span><span class="gold-title">gold</span>
            </div>
        </div>
        <div class="vert-line-container">
            <div class="vert-line"></div>
        </div>
        <div class="bar"><div class="bounce"></div></div>
	</div>
<!--     <div class="piece" ng-repeat="image in images track by $index">
        <div class="picture" ng-class="{ large: $index == currentImg }" data-ng-click="enlarge($index)">
            <img src="{{image.url}}" alt="">
        </div>
        <div class="name">
            {{ image.author }}
        </div>
    </div> -->
</div>