<div class="home-page" ng-controller="HomeCtrl">
	<div class="landing">
		<div class="logo" style="cursor: pointer;" ui-sref="home">
            <img src="../img/innoD_logo.png">
		</div>
        <div class="catch-phrase-container">
            <div class="catch-phrase">Where tiers collide</div>
        </div>
        <div class="landing-title-container">
            <div class="landing-title">
                <span class="web-title">web</span><span class="gold-title">gold</span>
            </div>
        </div>
        <div class="vert-line-container">
            <div class="vert-line"></div>
        </div>
        <div class="bounce-container">
            <div class="bounce arrow0"><img src="../img/down_arrow.png"></div>
            <div class="bounce arrow1"><img src="../img/down_arrow.png"></div>
            <div class="bounce arrow2"><img src="../img/down_arrow.png"></div>
        </div>
	</div>

    <div class="people-container" ng-controller="HomeCtrl">
        <div class="people-title">Meet Gold Tier</div>
        <div class="people">
            <div class="person" ng-repeat="member in people track by $index">
                <div class="picture" ui-sref="{{member.link}}">
                    <img src="{{member.picture}}" alt="">
                </div>
                <div class="name">{{member.name}}</div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="bottom-logo" onClick="window.location='http://innovativedesign.club/';"><img src="../img/innoD_logo.png"></div>
        <div class="slogan">Innovative Design, 2015</div>
    </div>

</div>