<div class="portfolio-page" ng-controller="PortfolioCtrl">
	<div class="nav">
		<div class="logo" style="cursor: pointer;" ui-sref="home">
			<img src="../img/innoD_logo.png">
		</div>
		<div class="title">{{person.name}}</div>
	</div>
	<div class="info-container">
		<div class="headshot">
			<img src="{{person.headshot}}" alt="">
		</div>
		<div class="blurb">{{person.blurb}}</div>
	</div>


	<ul rn-carousel rn-carousel-transition="hexagon" rn-carousel-auto-slide="2" rn-carousel-pause-on-hover rn-carousel-index="carouselIndex" rn-carousel-easing="easeInOutSine" rn-carousel-duration="1000" class="piece-container">
		<li class="piece" ng-repeat="img in person.imgs track by $index" ng-class="{wide: img.wide===true}" ng-click="goToSlide($index)"><img src="{{img.url}}"></li>
	</ul>



	<div rn-carousel-index="carouselIndex" class="indicators">
		<span ng-repeat="img in person.imgs track by $index" ng-class="{active: $index==carouselIndex}" ng-click="goToSlide($index)">●</span>
	</div>
</div>
<!-- 	<div rn-carousel-indicators ng-if="person.imgs.length > 1" slides="person.imgs" rn-carousel-index="carouselIndex" class="indicator"></div> -->
 <!-- 	<div class="piece-container">
		<div class="piece" ng-repeat="img in person.imgs track by $index">
			<img src="{{img}}" alt="">
		</div>
	</div>
