<div class="tier-leader-page" ng-controller="TierLeaderCtrl">
	<div class="nav">
		<div class="logo" style="cursor: pointer;" ui-sref="home">
			<img src="../img/innoD_logo.png">
		</div>
		<div class="title">{{jasonCharisse.name}}</div>
	</div>

	<div class="info-container">

		<div class="jason-container">
			<img src="{{jasonCharisse.jasonHeadshot}}" alt="">
			<span class="jason-blurb">{{jasonCharisse.jasonBlurb}}</span>
		</div>

		<div class="charisse-container">
			<span class="charisse-blurb">{{jasonCharisse.charisseBlurb}}</span>
			<img src="{{jasonCharisse.charisseHeadshot}}" alt="">
		</div>
		<!-- <div class="headshot">
			<img src="{{person.headshot}}" alt="">
		</div>
		<div class="blurb">{{person.blurb}}</div> -->
	</div>

</div>
