// Styles for Home Page

$dark-grey : #6C7A87;
$gold : #F6CA1B;
$blue : #0092BF;
$white : #EAEAEA;
$BIG_JOHN : BIG_JOHN;
$Slim-Joe : Slim_Joe;

//got this animation from http://codepen.io/dodozhang21/pen/siKtp
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}



.home-page {
    .landing {
        background: $dark-grey;
        width: 100%;
        height: 100%;


        .logo img {
            width: 100px;
            margin-top: 20px;
            margin-left: 20px;
        }

        .catch-phrase-container {
            top: 15%;
            position: absolute;
            width: 100%;

            .catch-phrase {
                font-family: $BIG_JOHN;
                display: inline-block;
                @include horizontal-align();
                color: $white;
            }
        }

        .landing-title-container {
            position: relative;
            width: 100%;
            @include txt-title-xx-lg();
            top : 15%;
            font-family: $Slim-Joe;

            .landing-title {
                display: inline-block;
                left: 50%;
                //@include horizontal-align();
                -webkit-transform: translateX(-45%);
                -moz-transform: translateX(-45%);
                -ms-transform: translateX(-45%);
                transform: translateX(-45%);

                .web-title {
                    margin-right : 20px;
                    color : $gold;
                }

                .gold-title {
                    font-family : $BIG_JOHN;
                    margin-left : 20px;
                    color : $blue;
                }
            }
        }

        .vert-line-container {
            position: absolute;
            width: 100%;
            top: 20%;
            height: 80%;

            .vert-line {
                display: inline-block;
                @include horizontal-align();
                border-left: thin solid #EBEBEB;
                width: 2px;
                height: 80%;
            }
        }

        .bounce-container {
            position: absolute;
            left: 50%;
            margin-left: -25px;
            bottom: 10px;
            .bounce img{
                width:50px;
                -webkit-animation: bounce 2s infinite;
            }
        }
    }

    .people-container {
        // @include column(1, 1, 1);
        // put parameters in here)
        // also put an @include clearfix becuase otherwise will add to height?
        //@include cf();
        //position: absolute;
        height: 120%;
        width: 100%;
        background: $white;
        //overflow: auto;

        .people-title {
            color: $blue;
            font-family: $BIG_JOHN;
            font-size: 64px;
            line-height: 128px;
            text-align: center;
        }

        .people {
            @include horizontal-align();
            @include cf(); // Include floats in the flow of dom elements
            width: 80%; // Or whatever you want the width of the entire grid to be
            //height: 80%;

            .person {
                // Have each person/picture be half the with of the people container
                // There will be 2 per row
                @include col(1/3, 0, 3);
                margin-bottom: 20px;

                .picture {
                    width: 100%;
                    transition: 1s;

                    img {
                        width: 100%;
                    }
                }

                .picture:hover {
                    transition: 1s;
                    opacity: 0.5;
                    cursor: pointer;
                }

                .name {
                    font-family: $Slim-Joe;
                    text-align: center;
                    font-weight: 900;
                    margin-top: 5px;
                }
            }
        }
    }
}
