//styles for the portfolio pages
$dark-grey : #6C7A87;
$gold : #F6CA1B;
$blue : #0092BF;
$white : #EAEAEA;
$black: #000;
$BIG_JOHN : BIG_JOHN;
$Slim-Joe : Slim_Joe;

.portfolio-page {
	width: 100%;
	//height: 100%;
    background: $gold;
    display: inline-block;

    .nav {
    	width: 100%;
    	display: inline-block;
        box-shadow: 0 0 4px 1px $white;
        -webkit-box-shadow: 0 0 4px 1px $white;

    	.logo {
            z-index: 900;
			float: left;
			margin-top: 20px;
	       	margin-left: 20px;
            transition: 1s;

    		img {
				width: 100px;
	    	}

            &:hover {
                transition: 1s;
                opacity: 0.5;
            }
	    }

    	.title {
	    	color: $blue;
	        font-family: $BIG_JOHN;
	        font-size: 64px;
	        line-height: 128px;
	        text-align: left;
	        margin-top: 20px;
    	}
    }

    .info-container {
        margin-top: 40px;
        .headshot img {
            width: 300px;
            height: 300px;
            @include horizontal-align();
            border-radius: 50%;
        }

        .blurb {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
            font-family: $Slim_Joe;
            font-size: 20px;
            width: 60%;
            @include horizontal-align();
        }
    }

    .piece-container {
        width: 400px;
        height: 400px;
        @include horizontal-align();
        text-align: center;
        .piece img {
            width: auto;
            height: 100%;
            @include vertical-align();
        }

        .wide img{
            width: 100%;
            height: auto;
        }
    }

    .indicators {
        // width: 600px;
        // height: 100px;
        @include horizontal-align();
        display: inline-block;
        margin-bottom: 40px;

        span {
            color: $blue;
            cursor: pointer;
        }

        .active {
            color: $black;
        }
    }

    // .piece-container {
    // 	@include horizontal-align();
    //     @include cf(); // Include floats in the flow of dom elements
    //     width: 80%; // Or whatever you want the width of the entire grid to be

    // 	.piece {
    // 		@include col(1/3, 0, 3);
    //         margin-bottom: 20px;

    // 		img {
    // 			width: 100%;
    // 		}
    // 	}
    // }
}